/cmd/
/Git LFS/
/GitExtensions/
/mingw64/
/SmartGit/
/TortoiseGit/
/home/git-ci/
!/home/git-ci/.gitconfig
/usr/src/
/var/*
!/var/lib
/var/lib/*
!/var/lib/pacman/
/var/local/pacman-mirror/
/bin/
/dev/
/dir
/mingw32/lib/perl5/
/mingw64/lib/perl5/
/proc/
/tmp/
/usr/share/info/dir
/etc/hosts
/etc/mtab
/etc/networks
/etc/services
/etc/protocols
*.pyc
*.pyo
/etc/pacman.d/gnupg/S.*
venv
Thumbs.db
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.dll
*.lib
*.sbr
.ini
.git
.github
.env
.tmp
.tmp.drivedownload
.DS_Store
